<div class="card-container">
  <div *ngFor="let nombre of this.serverCharacters" class="card">
    <label for="">Name:</label>
    <input type="text" [(ngModel)]="nombre.name" disabled={{nombre.editable}}>
    <label *ngIf="nombre.mostrar" for="">Strength:</label>
    <input *ngIf="nombre.mostrar" type="text" [(ngModel)]="nombre.strength" disabled={{nombre.editable}}>
    <label *ngIf="nombre.mostrar" for="">Agility:</label>
    <input *ngIf="nombre.mostrar" type="text" [(ngModel)]="nombre.agility" disabled={{nombre.editable}}>
    <label *ngIf="nombre.mostrar" for="">Intelligence:</label>
    <input *ngIf="nombre.mostrar" type="text" [(ngModel)]="nombre.intelligence" disabled={{nombre.editable}}>
    <label *ngIf="nombre.mostrar" for="">Life:</label>
    <input *ngIf="nombre.mostrar" type="text" [(ngModel)]="nombre.life" disabled={{nombre.editable}}>
    <input *ngIf="nombre.mostrar" type="button" (click)="txt=cambiarBotonEdit(nombre, txt)"
      [value]="nombre.valorBotonEdit">
    <input type="button" (click)="txt=cambiarBotonShow(nombre, txt)" [value]="nombre.valorBotonShow">
  </div>
</div>
<p>
  {{txt}}
</p>